<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
</head>
<body>
    <div class="footer">
        <div class="footer-contents">
            <div class="social-profiles">
                <span class="facebook"><a href="https://www.facebook.com/Farooquis-world-100432181470217"><span><i class="fab fa-facebook"></i></span></i></a></span>
                <span class="twitter"><a href="https://twitter.com/FarmanFarooqui4"><span><i class="fab fa-twitter"></i></span></a></span>
                <span class="youtube"><a href="https://www.youtube.com/channel/UCqIrhdoygYnHIIeyYsYBcKA"><span><i class="fab fa-youtube"></i></span></a></span>
                <span class="instagram"><a href="https://www.instagram.com/farmanfarooqui4/"><span><i class="fab fa-instagram"></i></span></a></span>
            </div>
            <ul class="mobile-menus">
                <li><a href="/">Home</a></li>
                <li><a href="#contact">Contact</a></li>
                <li><a href="#about">About</a></li>
            </ul>  
        </div>
    </div>
</body>
</html>