<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">  
    <title><%=title%></title>  
</head>
<body>
    
    <nav id="navbar">        
        <span class="hamburger-icon"><span><i class="fas fa-bars"></i></span></span>
        <a href="/" class="brand-logo"><span class="f">F</span>arooqi<span class="w">W</span>orld</a>                        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>            
        </ul>        
        <div class="nav-left-menus">            
            <div class="buttons">
                <a href="/create-new-article" class="create-new-article" id=<%=title == "Create Article" ? "hide-btn" : ""%>> <span class="article-icon"><i class="far fa-newspaper"></i></span> <span>Create Article</span></a>                                                        
                <% if (typeof AuthUser == "undefined") { %>
                <a href="/login" class="login" id=<%=title == "Login" ? "hide-login" : ""%>> <span class="login-icon"><i class="fas fa-sign-in-alt"></i></span> <span>Login</span></a>                            
                <% } %>                
            </div>
            <% if (typeof AuthUser != 'undefined') { %>                        
                <a href="/logout" class="logout" ><span>Logout</span></a>                      
            <% } %>        
        </div>
    </nav>
</body>
</html>