<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
</head>
<body>
    
    <nav id="navbar">
        <a href="/" class="brand-logo"><span class="f">F</span>arooqi's<span class="w">W</span>orld</a>
        <span class="hamburger-icon"><span><i class="fas fa-bars"></i></span></span>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>        
    </nav>
</body>
</html>