<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="social-profiles">
        <span class="facebook">
            <a target="_blank" href="https://www.facebook.com/Farooquis-world-100432181470217"><span><i class="fab fa-facebook"></i></span></a>
            <!-- <span class="tooltip">Facebook</span> -->
        </span>
        <span class="twitter">
            <a target="_blank" href="https://twitter.com/FarmanFarooqui4"><span><i class="fab fa-twitter"></i></span></a>
            <!-- <span class="tooltip">Twitter</span> -->
        </span>
        <span class="youtube">
            <a target="_blank" href="https://www.youtube.com/channel/UCqIrhdoygYnHIIeyYsYBcKA"><span><i class="fab fa-youtube"></i></span></a>
            <!-- <span class="tooltip">Youtube</span> -->
        </span>
        <span class="instagram">
            <a target="_blank" href="https://www.instagram.com/farmanfarooqui4/"><span><i class="fab fa-instagram"></i></span></a>
            <!-- <span class="tooltip">Instagram</span> -->
        </span>
    </div>    
</body>
</html>