<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fontawesome-free-5.13.0-web/css/all.css"> 
    <title>Article</title>
</head>
<body>
   <div class="container">
        <ul class="mobile-menus">
            <li><a href="/">Home</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>                    
        <div class="full-article">
            <div class="contents">
                <!-- <div class="title">
                    <h2>نوجوان قو مِ مسلم کےامین</h2>
                </div>
                <div class="body">
                    <div class="text-content">
                        <p>
                            تاریخ کے اوراق اس بات کی طرف رمز کن ہیں کہ شب و روز کی گُزر اور حوادثات کی رَگَڑ نے نہ جانے کتنی متمدن اقوام اور فاتحینِ عروج و بام کو ایسے کالعدم کیا کہ کسی کے حاشیہ خیال میں ان کا وجود ہی متصور نہیں ہوتا اور گردشِ لیل و نہار ان کی نادانی پہ قہقہے لگاتی ہے۔
                            آج کے ملل و اقوام بھی ان مراحل سے دو چار ہیں،  قومِ مسلم کو بھی یہ معاملہ در پیش ہے جبکہ دیگر اقوام کو اسی مرحلے میں دم توڑ جانا ہے اور اسلام و مسلمین کو  آگے بڑھ کر سرفرازی سے ہم کنار ہونا ہے! 
                            لیکن اس کامیابی اور سرفرازی کا مدار ملت کے نو جوانوں اور گروہِ شباب پر ہے۔! 
                            اگر ان کی سیرت و کردار اور اخلاقی معیار میں ایمانی روح بیدار ہوگی تو کامرانی متحقق ہوگی اور اس لیے بھی کہ خدا اس قوم کو کامیابی عطا فرماتا ہے جو خود کو متغیر کر کہ ان اوصاف کی حامل بناتی ہے۔ ارشادِ خدا وندی ہے۔
                            <span class="quran-ayat">"إِنَّ اللَّهَ لاَ يُغَيِّرُ مَا بِقَوْمٍ حَتَّى يُغَيِّرُواْ مَا بِأَنْفُسِهِمْ"(الرعد: آیة 11)</span>
                            ترجمہ : 
                            <span class="translation">بے شک الله کسی قوم سے اپنی نعمت نہیں بدلتا جب تک وہ خود اپنی حالت نہ بدلیں"</span>
                            خدا کا یہ فرمان اس بات کی طرف اشارہ کرتا ہے کہ نوجوانوں کو قومی فلاح کی خاطر،  اپنی دنیوی سرخروئی اور اخروی نجات کی خاطر خود کو اسلامی سانچے میں ڈھالنا ہوگا! کیوں کہ نوجوان ہی ملت کا پیش خیمہ اور مستقبل کا روشن منارہ ہے،  اس کی اصلاح و درستگی میں امت واحدہ کی فلاح ودیعت کی گئی ہے جس کی حفاظت از بس ضروری ہے! بلکہ یوں کہیئے نوجوانوں کی حیثیت معاشرے میں ریڑھ کی ہڈی کی سی ہے جس کی ذرا سی خمیدگی معاشرے کو فنا کے کگار پہ لا سکتی ہے،  اب چاہے یہ خمیدگی اعتقادی کمزوری کی صورت میں ہو یا پھر بد عملی اور اخلاقی انحطاط کی صورت میں، بہر حال اس کا خمیازہ معاشرے کو بھگتنا پڑے گا ۔
                            جبکہ فحاشی کو بھی اس میں بڑا دخل ہے۔ 
                            فاتح بیت المقدس صلاح الدین ایوبی رحمہ الله نے کہا تھا کہ "اگر کسی قوم کو شکست دینی ہو تو اس قوم کے نوجوانوں میں فحاشی پھیلا دو"
                            تو یہ اس فحاشی کا نتیجہ ہے کہ ہماری قوم تباہی کی طرف بڑھ رہی ہے آئے دن ہمارے نوجوانوں میں الحاد و بے راہ روی کی شرح میں اضافہ ہوتا جا رہا ہے بلکہ چیلنج بن کر ہمارے سامنے کھڑے ہیں۔

                            ۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔۔

                            باری تعالیٰ سے دعا ہے کہ ہمیں اور ہمارے نو جوانوں کو اپنی ذمہ داری سمجھنے ، قرآن و حدیث کے فرامین کے مطابق زندگی گزارنے  اور بزرگان دین کے رستے پہ چلنے کی توفیق عطا فرمائے ۔۔۔  آمین ۔۔۔
                        </p>                        
                    </div>
                </div> -->
            <% if (typeof article != "undefined") { %>                            
                <div class="title">                    
                    <h2><%=article.title%></h2>
                </div>
                <div class="body">
                    <div class="text-content">
                        <p>
                            <%-article.body%>
                        </p>                        
                    </div>
                </div> 
                <% } %>                
            </div>    
        </div>        
        <div class="social-profiles">
            <span class="facebook"><a target="_blank" href="https://www.facebook.com/Farooquis-world-100432181470217"><span><i class="fab fa-facebook"></i></span></i></a></span>
            <span class="twitter"><a target="_blank" href="https://twitter.com/FarmanFarooqui4"><span><i class="fab fa-twitter"></i></span></a></span>
            <span class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCqIrhdoygYnHIIeyYsYBcKA"><span><i class="fab fa-youtube"></i></span></a></span>
            <span class="instagram"><a target="_blank" href="https://www.instagram.com/farmanfarooqui4/"><span><i class="fab fa-instagram"></i></span></a></span>
        </div>
   </div> 
</body>
</html>