<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../fontawesome-free-5.13.0-web/css/all.css"> 
    <title>Article</title>
</head>
<body>
   <div class="container">                  
        <div class="full-article">
            <div class="contents">                
            <% if (typeof article != "undefined") { %>                            
                <div class="title">                    
                    <h2><%=article.title%></h2>
                </div>
                <div class="body">
                    <div class="text-content">
                        <p>
                            <%-article.body%>
                        </p>                        
                    </div>
                </div> 
                <% } %>                
            </div>                
        </div>        
        <div class="social-profiles">
            <span class="facebook"><a target="_blank" href="https://www.facebook.com/Farooquis-world-100432181470217"><span><i class="fab fa-facebook"></i></span></i></a></span>
            <span class="twitter"><a target="_blank" href="https://twitter.com/FarmanFarooqui4"><span><i class="fab fa-twitter"></i></span></a></span>
            <span class="youtube"><a target="_blank" href="https://www.youtube.com/channel/UCqIrhdoygYnHIIeyYsYBcKA"><span><i class="fab fa-youtube"></i></span></a></span>
            <span class="instagram"><a target="_blank" href="https://www.instagram.com/farmanfarooqui4/"><span><i class="fab fa-instagram"></i></span></a></span>
        </div>
   </div> 
   <script src="../js/main.js"></script>
</body>
</html>