<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
   <div class="container">
        <ul class="mobile-menus">
            <li><a href="/">Home</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#about">About</a></li>
        </ul>        
        <div class="articles" id="articles">        
            <% if (typeof article != "undefined") { %>                
                <% article.forEach(article => { %>
                    <div class="article">
                        <div class="contents">
                            <div class="title">
                                <h2><%=article.title%></h2>                        
                            </div>
                            <div class="body">                            
                                <div class="text-content">                                        
                                    <div>
                                        <%-article.body%>                                        
                                    </div>
                                    <a href="/article/<%=article._id%>" class="read-more">یہاں مزید پڑھیں</a>
                                </div>                                
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>        
        <div class="social-profiles">
            <span class="facebook">
                <a target="_blank" href="https://www.facebook.com/Farooquis-world-100432181470217"><span><i class="fab fa-facebook"></i></span></i></a>
                <!-- <span class="tooltip">Facebook</span> -->
            </span>
            <span class="twitter">
                <a target="_blank" href="https://twitter.com/FarmanFarooqui4"><span><i class="fab fa-twitter"></i></span></a>
                <!-- <span class="tooltip">Twitter</span> -->
            </span>
            <span class="youtube">
                <a target="_blank" href="https://www.youtube.com/channel/UCqIrhdoygYnHIIeyYsYBcKA"><span><i class="fab fa-youtube"></i></span></a>
                <!-- <span class="tooltip">Youtube</span> -->
            </span>
            <span class="instagram">
                <a target="_blank" href="https://www.instagram.com/farmanfarooqui4/"><span><i class="fab fa-instagram"></i></span></a>
                <!-- <span class="tooltip">Instagram</span> -->
            </span>
        </div>
   </div> 
</body>
</html>
