<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
</head>
<body>
   <div class="container">    
        <div class="articles" id="articles">        
            <% if (typeof article != "undefined") { %>                
                <% article.forEach(article => { %>                
                    <div class="article">
                        <div class="contents">
                            <div class="title">
                                <h2><%=article.title%></h2>                        
                            </div>
                            <div class="body">                            
                                <div class="text-content">                                        
                                    <div id="article-body-text">
                                        <%-article.body%>                                        
                                    </div>
                                    <a href="/article/<%=article._id%>" class="read-more">یہاں مزید پڑھیں</a>                                    
                                </div>                                
                            </div>
                        </div>
                    </div>
                <% }) %>
            <% } %>
        </div>        
       
   </div> 
</body>
</html>
