@import url('https://fonts.googleapis.com/css2?family=Galdeano&family=Noto+Sans&family=Roboto&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f7f7f7; 
}
body.overflow-hidden{
    overflow: hidden;
}

a:active{
    background-color: transparent;
}

// App Wrapper 
div#app-wrapper{
    // Navbar
    nav#navbar{    
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 55px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #3b5998;
        line-height: 55px;      
        z-index: 100;  
        div.nav-left-menus{            
            display: flex;            
            align-items: center;
            a.hamburger-icon{
                display: block;
                margin: 0px 20px;
                color: silver;
            }
            a.brand-logo{
                display: block;
                color: silver;
                font-weight: 600;
                font-size: 32px;
                text-decoration: none;
            }                       
        }
        div.nav-right-menus{
            div.buttons{                
                display: flex;
                justify-content: flex-end;
                align-items: center;
                padding: 0 1em;
                margin-right: 20px;
                div.search{
                    display: flex;               
                    justify-content: flex-end;
                    align-items: center;
                    background-color: silver;
                    width: 100%;
                    height: 40px;     
                    border-radius: 4px;                                                      
                    input{
                        transition: 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
                        border: none;
                        outline: none;
                        padding: .5em 1em;
                        width: 100%;                    
                        height: 100%;
                        background-color: silver;
                        border-radius: 4px;
                        font-size: 18px;
                        color:rgba(0,0,0,.6);                      
                    }          
                    input.collapse-search{
                        width: 0;
                        overflow: hidden;
                    }      
                    input:focus{
                        background-color:rgba(0,0,0,.05);
                    }    
                    div.search-icon{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding:.5em;
                        cursor: pointer;
                       
                    }   
                }
                a.login{
                    text-decoration: none;
                    display: block;
                    background-color: silver;
                    height: 35px;
                    width: 100px;
                    line-height: 35px;
                    padding: 0 .5em;
                    border-radius: 3px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    right: 50px;
                    margin-right: 20px;
                    text-align: center;
                    color: #fff;
                }
                a.login:hover{
                    background-color:rgb(206, 203, 203);                    
                }
                ul.user-menus{
                    list-style: none;                    
                    li{
                        position: relative;
                        margin-left: 10px;
                        a.caret{
                            display: block;
                            color: silver;
                            font-size: 22px;                                
                            margin-left: 20px;
                        }
                        a.caret:hover{
                            color:rgb(206, 203, 203);
                        }
                        div#dropdown-wrapper{
                            position: fixed;
                            top: 55px;
                            left: 0;                            
                            width: 100%;                            
                            height: 100%;                        
                            visibility: hidden;                        
                            ul::after{
                                content: "";
                                position: absolute;
                                width: 10px;
                                height: 10px;
                                display: block;
                                top: -5px;
                                right: 25px;
                                background-color: #fff;
                                transform: rotate(45deg);                            
                            }
                            ul{
                                transform: translateY(20px);                        
                                // transform: scale(.7);
                                transition: 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
                                visibility: hidden;                            
                                list-style: none;
                                display: block;
                                position: absolute;                     
                                top: 0px;     
                                right: 10px;                                    
                                width: 200px;                                   
                                border: 1px solid rgba(0,0,0,.1);
                                background-color: #fff;
                                border-radius: 3px;
                                box-shadow: 0px 5px 10px rgba(0,0,0,.1); 
                                li.login-register{
                                    display: flex;
                                    a.mobile-login-btn{
                                        width: 80px;
                                        background-color: #3b5998;
                                        margin: 5px;    
                                        padding: .5em; 
                                        color: #fff;                               
                                        text-align: center;
                                        border-radius: 3px;
                                        box-shadow: 0px 0px 1px rgba(0,0,0,.5);
                                        span{
                                            margin-right: 3px;
                                        }
                                    }
                                    a.mobile-login-btn:hover{
                                        background-color: #3b5898dc;
                                    }
                                    a.mobile-register-btn{
                                        width: 100px;
                                        background-color: #3b5998;
                                        margin: 5px;    
                                        padding: .5em; 
                                        color: #fff;                               
                                        text-align: center;
                                        border-radius: 3px;
                                        box-shadow: 0px 0px 1px rgba(0,0,0,.5);
                                        span{
                                            margin-right: 3px;
                                        }
                                    }
                                    a.mobile-register-btn:hover{
                                        background-color: #3b5898dc;
                                    }
                                }                           
                                li{
                                    line-height: 1em;
                                    margin-left: 0px;                            
                                    width: 100%;
                                    a{                                    
                                        padding: .5em 1em;
                                        text-decoration: none;
                                        color: rgba(0,0,0,.6);
                                        display: flex;
                                        align-items: center;
                                        span:first-child{
                                            margin-right: 10px;                                        
                                        }
                                    }
                                    a.logout{
                                        border-top: 1px solid rgba(0,0,0,.1);
                                        margin-top: 10px;
                                        background-color: #f7f7f7;
                                    }
                                    
                                    a:hover{
                                        background-color: rgba(0,0,0,.04);
                                    }                                
                                    
                                }                                           
                                li.social-proflies{
                                    display: flex;                                
                                    justify-content: center;
                                    align-items: center;
                                    margin-bottom:10px;
                                    border-bottom: 1px solid rgba(0,0,0,.1);                                                                                               
                                    a{
                                        padding: 0;
                                        margin: 10px;
                                    }
                                    a:hover{
                                        background-color: transparent;
                                        color: rgba(0,0,0,.8);
                                    }
                                }
                            }
                            ul.toggle-user-menus{
                                transform: translateY(0);
                                transform: scale(1);
                                visibility: visible;                        
                            }
                        }  
                        div#dropdown-wrapper.toggle-dropdown{
                            visibility: visible;
                        }                    
                    }
                  
                }
            }
        }
    }

    // Sidenav    
    div#sidenav-wrapper{    
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,.2);
        z-index: 110;
        visibility: hidden;
        opacity: 0;
        transition: 300ms;        
        nav.sidenav{
            position: relative;
            width: 300px;
            height: 100%;
            background-color: #f7f7f7;    
            margin-left: -300px;
            div.header{
                width: 100%;
                padding: 1em;
                border-bottom: 1px solid rgba(0,0,0,.1);
                a.close{
                    width: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 30px;
                    color: rgba(0,0,0,.5);
                    background-color: rgba(0,0,0,.05);            
                    border-radius: 50%;
                }
            }        
            div.sidenav-contents{
                padding: 1em;
                div.search{
                    display: flex;               
                    justify-content: flex-end;
                    align-items: center;
                    background-color: silver;
                    width: 100%;
                    height: 40px;     
                    border-radius: 4px;  
                    margin-bottom: 20px;                                                    
                    input{
                        border: none;
                        outline: none;
                        padding: .5em 1em;
                        width: 100%;                    
                        height: 100%;
                        background-color: silver;
                        border-radius: 4px;
                        font-size: 18px;
                        color:rgba(0,0,0,.6);   
                        transition: 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035);                   
                    }          
                    input.collapse-search{
                        width: 0;
                        overflow: hidden;
                    }    
                    input:focus{
                        background-color:rgba(0,0,0,.05);
                    }   
                    div.search-icon{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding:.5em;
                        cursor: pointer;
                       
                    }   
                }
                ul{
                    list-style: none;
                    width: 100%;
                    li{
                        a{
                            display: block;
                            transition: 200ms cubic-bezier(0.23, 1, 0.320, 1);
                            padding: .5em;
                            text-decoration: none;
                            color: rgba(0,0,0,.6);
                            border-radius: 5px;
                        }
                        a:hover{
                            background-color: rgba(0,0,0,.05);
                        }
                    }
                }
            }
        }
        nav.sidenav{
            margin-left: 0;
        }
    }

    div#sidenav-wrapper.sidenav-wrapper-toggle{
        visibility: visible;
        opacity: 1;
    }
    // containers 
    div#container{          
        position: relative;
        top:55px;                
        background-color: #f7f7f7; 
        div.articles-section{
            width: 80%;  
            min-height: 100vh;
            margin:auto;                               
            div.contents{
                display: grid;
                grid-template-columns: repeat(2, 1fr);                
                div.article:hover div.edit-and-delete{
                    visibility: visible;
                    opacity: 1;
                }
                div.article{   
                    position: relative;
                    transition: 200ms ease-in-out;  
                    border: 1px solid rgba(0,0,0,.05);               
                    margin: 10px;
                    background-color: rgba(0,0,0,.02);
                    box-shadow: 0px 0px 1px rgba(0,0,0,.5);
                    cursor: default;
                    div.edit-and-delete{
                        transition: 200ms ease-in-out;
                        position: absolute;
                        top: 0px;
                        right: 5px;                        
                        padding-top:1em;                        
                        visibility: hidden;
                        opacity: 0;
                        ul{
                            display: flex;
                            list-style: none;
                            li{
                                position: relative;
                                a{
                                    color: rgba(0,0,0,.5);                                                                        
                                }
                                a:first-child{
                                    margin-right: 10px;
                                }
                                ul::after{
                                    content: "";
                                    display: block;
                                    position: absolute;                                                
                                    width: 10px;
                                    height: 10px;
                                    background-color: #333;                                                
                                    top: -5px;
                                    left: 50%;
                                    transform: translateX(-50%) rotate(45deg);                                                
                                }                                             
                                ul{
                                    transition: 200ms ease-in-out;
                                    position: absolute;
                                    top: 40px;
                                    right: -20px;
                                    visibility: hidden;
                                    box-shadow: 0px 5px 10px rgba(0,0,0,.1);
                                    opacity: 0;                                    
                                    li{
                                        text-align: center;
                                        width: 80px;
                                        padding: .5em;
                                        color:#fff;
                                        background-color: #333333;
                                        border-radius: 4px;
                                    }
                                }
                            }
                            li:hover ul{
                                visibility: visible;
                                opacity: 1;
                            }
                        }
                    }
                    div.article-contents{
                        div.article-header{                                                                                    
                            div.header-contents{   
                                display: flex;                                                                                            
                                align-items: center;                                
                                div.author{
                                    display: flex;
                                    justify-content: flex-start;
                                    align-items: center;
                                    padding: 1em;
                                    div.profile-pic{
                                        width: 40px;
                                        height: 40px;
                                        float: right;                                        
                                        img{
                                            width: 100%;
                                            height: 100%;                                            
                                        }
                                    }
                                    div.name-and-published{
                                        margin-left: 10px;
                                        div.published{
                                            color: rgba(0,0,0,.5);
                                            font-size: 14px;
                                        }
                                    }                                    
                                }    
                                div.mins-to-read{                                
                                    border-left: 1px solid rgba(0,0,0,.1);
                                    padding-left: 10px;
                                    margin-top: -15px;
                                    margin-right: 20px;
                                    font-size: 15px;
                                    font-weight: 300;
                                    color: rgba(0,0,0,.6);                                    
                                }                                                       
                            }
                        }
                        div.article-body{
                            clear: both;
                            text-align: right;
                            padding: 1em;                                                 
                            div.body-contents{
                                div.title{
                                    font-size: 150%;
                                    color: rgba(0,0,0,.8);
                                }
                                div.body{
                                    max-height: 150px;
                                    overflow: hidden;
                                    color:rgba(0,0,0,.8);
                                    word-spacing: 2px;
                                    font-size: 20px;
                                }
                                div.read-more{
                                    font-size: 18px;
                                    margin-top: 20px;
                                    text-align: left;
                                    a{
                                        width: 150px;
                                        display: block;
                                        text-decoration: none;
                                        background-color: #3b5998;
                                        padding: .5em;
                                        text-align: center;
                                        color: #fff;
                                        box-shadow: 0px 0px 1px rgba(0,0,0,.5);                                    
                                        border-radius: 3px;   

                                    }
                                    a:hover{
                                        background-color: #3b5898e3;   
                                    }
                                }
                            }
                        }
                        div.article-footer{
                            border-top: 1px solid rgba(0,0,0,.1);                            
                            position: relative;
                            div.footer-contents{
                                display: flex;
                                justify-content: center;
                                align-items: center;                                
                                div.comment-and-like{                                    
                                    ul{
                                        display: flex;
                                        list-style: none;
                                        li{
                                            position: relative;
                                            a{                                       
                                                display: block;                                       
                                                padding:.5em 1em;
                                                color: rgba(0,0,0,.6);
                                            }  
                                            ul::after{
                                                content: "";
                                                display: block;
                                                position: absolute;                                                
                                                width: 10px;
                                                height: 10px;
                                                background-color: #333;                                                
                                                top: -5px;
                                                left: 50%;
                                                transform: translateX(-50%) rotate(45deg);                                                
                                            }                                             
                                            ul{
                                                position: absolute;
                                                visibility: hidden;
                                                transition: 200ms ease-in-out;
                                                opacity: 0;
                                                top: 40px;
                                                right: -20px;                                                                                                
                                                box-shadow: 0px 5px 10px rgba(0,0,0,.1);
                                                li{
                                                    border-radius: 5px;
                                                    width: 100px;
                                                    color: #f7f7f7;
                                                    text-align: center;
                                                    display: block;
                                                    background-color: #333;
                                                    padding: .5em;                                                
                                                }
                                            }
                                        }
                                        li:hover ul{
                                            visibility: visible;
                                            opacity: 1;
                                        }
                                    }                                  
                                }                                
                                div.share{
                                    margin-left: auto;
                                    padding: .5em 1em;                                    
                                    ul{
                                        list-style: none;
                                        li{
                                            position: relative;
                                            a{
                                                color:rgba(0,0,0,.6)
                                            }
                                            ul::after{
                                                content: "";
                                                display: block;
                                                position: absolute;
                                                right: -5px;
                                                width: 10px;
                                                height: 10px;
                                                background-color: #333;
                                                top: 50%;                                            
                                                transform: translateY(-50%) rotate(45deg);                                                
                                            }
                                            ul{
                                                position: absolute;
                                                top:-4px;
                                                right: 30px;
                                                border-radius: 4px;
                                                border: 1px solid rgba(0,0,0,.1);
                                                background-color: #333;
                                                visibility: hidden;
                                                opacity: 0;
                                                transition: 200ms cubic-bezier(0.77, 0, 0.175, 1);
                                                display: flex;
                                                box-shadow: -5px 0px 10px rgba(0,0,0,.1);
                                                li{                                                
                                                    a{                                                        
                                                        display: flex;                                                        
                                                        align-items: center;                                                            
                                                        padding: .5em;
                                                        text-align: left;
                                                        text-decoration: none;
                                                        font-weight: 500;
                                                        font-size: 16px;
                                                        color: #fff;
                                                        span:first-child{
                                                            margin-right: 5px;                                                                                                                                                                                                                                           
                                                        }
                                                    }
                                                    a:hover{
                                                        background-color: rgba(0,0,0,.05);
                                                    }
                                                }
                                            }
                                        }
                                        li:hover ul{
                                            visibility: visible;
                                            opacity: 1;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

    }


    // Media Queries
    @media (max-width:800px){
        div#container{        
            padding: 1em;                       
            div.articles-section{
                width: 100%;                                            
                div.contents{
                    display: block;
                    grid-template-columns: repeat(2, 1fr);                                   
                }
            }
        }        
    }

    @media (max-width:520px){ 
        nav#navbar{
            div.nav-right-menus{
                div.buttons{
                    div.search{
                        display: none;                                    
                    }
                    a.login{
                        display: none;
                    }
                }
            }
        }
        div#container{        
            padding: 0;                       
            div.articles-section{
                width: 100%;  
                min-height: 100%;
                margin:auto;   
                div.edit-and-delete{
                    display:none;
                }                            
                div.contents{
                    display: block;
                    grid-template-columns: repeat(2, 1fr);                                                  
                }
                
                div.article-footer{
                   div.footer-contents{
                    div.comment-and-like{
                        ul li ul{
                            display: none;
                        }
                    }
                   }
                }
            }
        }          
    }

}