@import url("https://fonts.googleapis.com/css2?family=Galdeano&family=Noto+Sans&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f7f7;
}

body.overflow-hidden {
  overflow: hidden;
}

a:active {
  background-color: transparent;
}

div#app-wrapper nav#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 55px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  background-color: #3b5998;
  line-height: 55px;
  z-index: 100;
}

div#app-wrapper nav#navbar div.nav-left-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#app-wrapper nav#navbar div.nav-left-menus a.hamburger-icon {
  display: block;
  margin: 0px 20px;
  color: silver;
}

div#app-wrapper nav#navbar div.nav-left-menus a.brand-logo {
  display: block;
  color: silver;
  font-weight: 600;
  font-size: 32px;
  text-decoration: none;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 1em;
  margin-right: 20px;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons div.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: silver;
  width: 100%;
  height: 40px;
  border-radius: 4px;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons div.search input {
  -webkit-transition: 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
  border: none;
  outline: none;
  padding: .5em 1em;
  width: 100%;
  height: 100%;
  background-color: silver;
  border-radius: 4px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons div.search input.collapse-search {
  width: 0;
  overflow: hidden;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons div.search input:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons div.search div.search-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em;
  cursor: pointer;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons a.login {
  text-decoration: none;
  display: block;
  background-color: silver;
  height: 35px;
  width: 100px;
  line-height: 35px;
  padding: 0 .5em;
  border-radius: 3px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 50px;
  margin-right: 20px;
  text-align: center;
  color: #fff;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons a.login:hover {
  background-color: #cecbcb;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus {
  list-style: none;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li {
  position: relative;
  margin-left: 10px;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li a.caret {
  display: block;
  color: silver;
  font-size: 22px;
  margin-left: 20px;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li a.caret:hover {
  color: #cecbcb;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper {
  position: fixed;
  top: 55px;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul::after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  display: block;
  top: -5px;
  right: 25px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
  transition: 200ms cubic-bezier(0.47, 0, 0.745, 0.715);
  visibility: hidden;
  list-style: none;
  display: block;
  position: absolute;
  top: 0px;
  right: 10px;
  width: 200px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li.login-register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li.login-register a.mobile-login-btn {
  width: 80px;
  background-color: #3b5998;
  margin: 5px;
  padding: .5em;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li.login-register a.mobile-login-btn span {
  margin-right: 3px;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li.login-register a.mobile-login-btn:hover {
  background-color: #3b5898dc;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li.login-register a.mobile-register-btn {
  width: 100px;
  background-color: #3b5998;
  margin: 5px;
  padding: .5em;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li.login-register a.mobile-register-btn span {
  margin-right: 3px;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li.login-register a.mobile-register-btn:hover {
  background-color: #3b5898dc;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li#loggedIn {
  display: none;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li {
  line-height: 1em;
  margin-left: 0px;
  width: 100%;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li a {
  padding: .5em 1em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li a span:first-child {
  margin-right: 10px;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li a.logout {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  background-color: #f7f7f7;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li a:hover {
  background-color: rgba(0, 0, 0, 0.04);
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li.social-proflies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li.social-proflies a {
  padding: 0;
  margin: 10px;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul li.social-proflies a:hover {
  background-color: transparent;
  color: rgba(0, 0, 0, 0.8);
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper ul.toggle-user-menus {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transform: scale(1);
          transform: scale(1);
  visibility: visible;
}

div#app-wrapper nav#navbar div.nav-right-menus div.buttons ul.user-menus li div#dropdown-wrapper.toggle-dropdown {
  visibility: visible;
}

div#app-wrapper div#sidenav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 110;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 300ms;
  transition: 300ms;
}

div#app-wrapper div#sidenav-wrapper nav.sidenav {
  position: relative;
  width: 300px;
  height: 100%;
  background-color: #f7f7f7;
  margin-left: -300px;
}

div#app-wrapper div#sidenav-wrapper nav.sidenav div.header {
  width: 100%;
  padding: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div#app-wrapper div#sidenav-wrapper nav.sidenav div.header a.close {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  color: rgba(0, 0, 0, 0.5);
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
}

div#app-wrapper div#sidenav-wrapper nav.sidenav div.sidenav-contents {
  padding: 1em;
}

div#app-wrapper div#sidenav-wrapper nav.sidenav div.sidenav-contents div.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: silver;
  width: 100%;
  height: 40px;
  border-radius: 4px;
  margin-bottom: 20px;
}

div#app-wrapper div#sidenav-wrapper nav.sidenav div.sidenav-contents div.search input {
  border: none;
  outline: none;
  padding: .5em 1em;
  width: 100%;
  height: 100%;
  background-color: silver;
  border-radius: 4px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
  -webkit-transition: 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
  transition: 200ms cubic-bezier(0.95, 0.05, 0.795, 0.035);
}

div#app-wrapper div#sidenav-wrapper nav.sidenav div.sidenav-contents div.search input.collapse-search {
  width: 0;
  overflow: hidden;
}

div#app-wrapper div#sidenav-wrapper nav.sidenav div.sidenav-contents div.search input:focus {
  background-color: rgba(0, 0, 0, 0.05);
}

div#app-wrapper div#sidenav-wrapper nav.sidenav div.sidenav-contents div.search div.search-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em;
  cursor: pointer;
}

div#app-wrapper div#sidenav-wrapper nav.sidenav div.sidenav-contents ul {
  list-style: none;
  width: 100%;
}

div#app-wrapper div#sidenav-wrapper nav.sidenav div.sidenav-contents ul li a {
  display: block;
  -webkit-transition: 200ms cubic-bezier(0.23, 1, 0.32, 1);
  transition: 200ms cubic-bezier(0.23, 1, 0.32, 1);
  padding: .5em;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 5px;
}

div#app-wrapper div#sidenav-wrapper nav.sidenav div.sidenav-contents ul li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

div#app-wrapper div#sidenav-wrapper nav.sidenav {
  margin-left: 0;
}

div#app-wrapper div#sidenav-wrapper.sidenav-wrapper-toggle {
  visibility: visible;
  opacity: 1;
}

div#app-wrapper div#container {
  position: relative;
  top: 55px;
  background-color: #f7f7f7;
}

div#app-wrapper div#container div.articles-section {
  width: 80%;
  min-height: 100vh;
  margin: auto;
}

div#app-wrapper div#container div.articles-section div.contents {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 110;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  display: none;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login-close {
  position: absolute;
  top: 30px;
  right: 40px;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login-close a span {
  font-size: 2rem;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register.switch-register {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login.switch-login {
  visibility: visible;
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register {
  position: absolute;
  width: 500px;
  height: 80vh;
  background-color: #f7f7f7;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents {
  display: block;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents div.register-header {
  text-align: center;
  padding: 1em 0em;
  text-transform: uppercase;
  color: silver;
  margin-bottom: 20px;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form div.form-contents div.name, div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form div.form-contents div.email, div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form div.form-contents div.password {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.06);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form div.form-contents div.name span, div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form div.form-contents div.email span, div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form div.form-contents div.password span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .5em;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form div.form-contents div.name input, div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form div.form-contents div.email input, div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form div.form-contents div.password input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  padding: 0px .5em;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form div.register-btn {
  width: 100%;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form div.register-btn button {
  display: block;
  width: 100%;
  border: none;
  padding: .5em 0em;
  text-align: center;
  outline: none;
  background: #3b5998;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
  margin: 20px 0px;
  cursor: pointer;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form div.register-btn button:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #3b5898dc;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form span.already-registered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form span.already-registered a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-weight: 600;
  margin-left: 5px;
  display: block;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.register div.contents form span.already-registered a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login {
  position: absolute;
  width: 500px;
  height: 80vh;
  background-color: #f7f7f7;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  z-index: 0;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login div.login-contents div.login-heading {
  text-align: center;
  padding: 1em 0em;
  text-transform: uppercase;
  color: silver;
  margin-bottom: 20px;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login div.login-contents form div.form-contents div.email, div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login div.login-contents form div.form-contents div.password {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.06);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login div.login-contents form div.form-contents div.email span, div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login div.login-contents form div.form-contents div.password span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .5em;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login div.login-contents form div.form-contents div.email input, div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login div.login-contents form div.form-contents div.password input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  padding: 0px .5em;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login div.login-contents form div.login-btn {
  width: 100%;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login div.login-contents form div.login-btn button {
  display: block;
  width: 100%;
  border: none;
  padding: .5em 0em;
  text-align: center;
  outline: none;
  background: #3b5998;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
  margin: 20px 0px;
  cursor: pointer;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login div.login-contents form div.login-btn button:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #3b5898dc;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login div.login-contents form span.new-to-website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login div.login-contents form span.new-to-website a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-weight: 600;
  margin-left: 5px;
  display: block;
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login div.login-contents form span.new-to-website a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper.toggle-login-register-wrapper {
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
  opacity: 1;
}

div#app-wrapper div#container div.articles-section div.contents div.article:hover div.edit-and-delete {
  visibility: visible;
  opacity: 1;
}

div#app-wrapper div#container div.articles-section div.contents div.article {
  position: relative;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  border: 1px solid rgba(0, 0, 0, 0.05);
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.02);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  cursor: default;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.mobile-edit-and-delete {
  display: none;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.edit-and-delete {
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  position: absolute;
  top: 0px;
  right: 5px;
  padding-top: 1em;
  visibility: hidden;
  opacity: 0;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.edit-and-delete ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.edit-and-delete ul li {
  position: relative;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.edit-and-delete ul li a {
  color: rgba(0, 0, 0, 0.5);
}

div#app-wrapper div#container div.articles-section div.contents div.article div.edit-and-delete ul li a:first-child {
  margin-right: 10px;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.edit-and-delete ul li ul::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #333;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

div#app-wrapper div#container div.articles-section div.contents div.article div.edit-and-delete ul li ul {
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  position: absolute;
  top: 40px;
  right: -20px;
  visibility: hidden;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.edit-and-delete ul li ul li {
  text-align: center;
  width: 80px;
  padding: .5em;
  color: #fff;
  background-color: #333333;
  border-radius: 4px;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.edit-and-delete ul li:hover ul {
  visibility: visible;
  opacity: 1;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-header div.header-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-header div.header-contents div.author {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-header div.header-contents div.author div.profile-pic {
  width: 40px;
  height: 40px;
  float: right;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-header div.header-contents div.author div.profile-pic img {
  width: 100%;
  height: 100%;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-header div.header-contents div.author div.name-and-published {
  margin-left: 10px;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-header div.header-contents div.author div.name-and-published div.published {
  color: rgba(0, 0, 0, 0.5);
  font-size: 14px;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-header div.header-contents div.mins-to-read {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 10px;
  margin-top: -15px;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-body {
  clear: both;
  text-align: right;
  padding: 1em;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-body div.body-contents div.title {
  font-size: 150%;
  color: rgba(0, 0, 0, 0.8);
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-body div.body-contents div.body {
  max-height: 150px;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.8);
  word-spacing: 2px;
  font-size: 20px;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-body div.body-contents div.read-more {
  font-size: 18px;
  margin-top: 20px;
  text-align: left;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-body div.body-contents div.read-more a {
  width: 150px;
  display: block;
  text-decoration: none;
  background-color: #3b5998;
  padding: .5em;
  text-align: center;
  color: #fff;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
  border-radius: 3px;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-body div.body-contents div.read-more a:hover {
  background-color: #3b5898e3;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.comment-and-like ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.comment-and-like ul li {
  position: relative;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.comment-and-like ul li a {
  display: block;
  padding: .5em 1em;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.comment-and-like ul li ul::after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #333;
  top: -5px;
  left: 50%;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.comment-and-like ul li ul {
  position: absolute;
  visibility: hidden;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 40px;
  right: -20px;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.comment-and-like ul li ul li {
  border-radius: 5px;
  width: 100px;
  color: #f7f7f7;
  text-align: center;
  display: block;
  background-color: #333;
  padding: .5em;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.comment-and-like ul li:hover ul {
  visibility: visible;
  opacity: 1;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.share {
  margin-left: auto;
  padding: .5em 1em;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.share ul {
  list-style: none;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.share ul li {
  position: relative;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.share ul li a {
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.share ul li ul::after {
  content: "";
  display: block;
  position: absolute;
  right: -5px;
  width: 10px;
  height: 10px;
  background-color: #333;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(45deg);
          transform: translateY(-50%) rotate(45deg);
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.share ul li ul {
  position: absolute;
  top: -4px;
  right: 30px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #333;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: 200ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: 200ms cubic-bezier(0.77, 0, 0.175, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.1);
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.share ul li ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .5em;
  text-align: left;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.share ul li ul li a span:first-child {
  margin-right: 5px;
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.share ul li ul li a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

div#app-wrapper div#container div.articles-section div.contents div.article div.article-contents div.article-footer div.footer-contents div.share ul li:hover ul {
  visibility: visible;
  opacity: 1;
}

div#app-wrapper div#container div#login-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

div#app-wrapper div#container div#login-wrapper div.login {
  position: absolute;
  width: 500px;
  height: 80vh;
  background-color: #f7f7f7;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  z-index: 0;
  margin-top: 15px;
}

div#app-wrapper div#container div#login-wrapper div.login div.login-contents div.login-heading {
  text-align: center;
  padding: 1em 0em;
  text-transform: uppercase;
  color: silver;
  margin-bottom: 20px;
}

div#app-wrapper div#container div#login-wrapper div.login div.login-contents form div.form-contents div.email, div#app-wrapper div#container div#login-wrapper div.login div.login-contents form div.form-contents div.password {
  border: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 0, 0, 0.06);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
}

div#app-wrapper div#container div#login-wrapper div.login div.login-contents form div.form-contents div.email span, div#app-wrapper div#container div#login-wrapper div.login div.login-contents form div.form-contents div.password span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .5em;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div#login-wrapper div.login div.login-contents form div.form-contents div.email input, div#app-wrapper div#container div#login-wrapper div.login div.login-contents form div.form-contents div.password input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  padding: 0px .5em;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div#login-wrapper div.login div.login-contents form div.login-btn {
  width: 100%;
}

div#app-wrapper div#container div#login-wrapper div.login div.login-contents form div.login-btn button {
  display: block;
  width: 100%;
  border: none;
  padding: .5em 0em;
  text-align: center;
  outline: none;
  background: #3b5998;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
  margin: 20px 0px;
  cursor: pointer;
}

div#app-wrapper div#container div#login-wrapper div.login div.login-contents form div.login-btn button:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #3b5898dc;
}

div#app-wrapper div#container div#login-wrapper div.login div.login-contents form span.new-to-website {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#app-wrapper div#container div#login-wrapper div.login div.login-contents form span.new-to-website a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-weight: 600;
  margin-left: 5px;
  display: block;
}

div#app-wrapper div#container div#login-wrapper div.login div.login-contents form span.new-to-website a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div#register-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

div#app-wrapper div#container div#register-wrapper div.register {
  position: absolute;
  width: 500px;
  height: 80vh;
  background-color: #f7f7f7;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid cornflowerblue;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
}

div#app-wrapper div#container div#register-wrapper div.register div.contents {
  display: block;
}

div#app-wrapper div#container div#register-wrapper div.register div.contents div.register-header {
  text-align: center;
  padding: 1em 0em;
  text-transform: uppercase;
  color: silver;
  margin-bottom: 20px;
}

div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.name, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.email, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.password {
  display: block;
  margin-bottom: 10px;
}

div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.name div.form-group, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.email div.form-group, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.password div.form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.06);
}

div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.name div.form-group span.name-icon, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.name div.form-group span.email-icon, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.name div.form-group span.password-icon, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.email div.form-group span.name-icon, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.email div.form-group span.email-icon, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.email div.form-group span.password-icon, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.password div.form-group span.name-icon, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.password div.form-group span.email-icon, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.password div.form-group span.password-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 .5em;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.name div.form-group input, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.email div.form-group input, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.password div.form-group input {
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  background-color: transparent;
  padding: 0px .5em;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.6);
}

div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.name span.required, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.email span.required, div#app-wrapper div#container div#register-wrapper div.register div.contents form div.form-contents div.password span.required {
  color: rgba(255, 0, 0, 0.76);
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

div#app-wrapper div#container div#register-wrapper div.register div.contents form div.register-btn {
  width: 100%;
}

div#app-wrapper div#container div#register-wrapper div.register div.contents form div.register-btn button {
  display: block;
  width: 100%;
  border: none;
  padding: .5em 0em;
  text-align: center;
  outline: none;
  background: #3b5998;
  color: #fff;
  font-size: 18px;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.6);
  margin: 20px 0px;
  cursor: pointer;
}

div#app-wrapper div#container div#register-wrapper div.register div.contents form div.register-btn button:hover {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-color: #3b5898dc;
}

div#app-wrapper div#container div#register-wrapper div.register div.contents form span.already-registered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div#app-wrapper div#container div#register-wrapper div.register div.contents form span.already-registered a {
  color: rgba(0, 0, 0, 0.4);
  text-decoration: none;
  font-weight: 600;
  margin-left: 5px;
  display: block;
}

div#app-wrapper div#container div#register-wrapper div.register div.contents form span.already-registered a:hover {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 800px) {
  div#app-wrapper div#container {
    padding: 1em;
  }
  div#app-wrapper div#container div.articles-section {
    width: 100%;
  }
  div#app-wrapper div#container div.articles-section div.contents {
    display: block;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  div#app-wrapper div#container div.articles-section div.contents div#login-and-register-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 110;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
  div#app-wrapper div#container div.articles-section div.contents div#login-and-register-wrapper div.login-close {
    position: absolute;
    top: 30px;
    right: 40px;
  }
  div#app-wrapper div#container div.articles-section div.contents div#login-and-register-wrapper div.login-close a span {
    font-size: 2rem;
  }
  div#app-wrapper div#container div.articles-section div.contents div#login-and-register-wrapper div.login {
    position: absolute;
    width: 75%;
    height: 80vh;
    background-color: #f7f7f7;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid cornflowerblue;
    border-radius: 5px;
  }
}

@media (max-width: 520px) {
  div#app-wrapper nav#navbar div.nav-right-menus div.buttons div.search {
    display: none;
  }
  div#app-wrapper nav#navbar div.nav-right-menus div.buttons a.login {
    display: none;
  }
  div#app-wrapper div#container {
    padding: 0;
  }
  div#app-wrapper div#container div#login-wrapper div.login {
    width: 95%;
    min-height: 300px;
  }
  div#app-wrapper div#container div#register-wrapper div.register {
    width: 95%;
    min-height: 400px;
  }
  div#app-wrapper div#container div.articles-section {
    width: 100%;
    min-height: 100%;
    margin: auto;
  }
  div#app-wrapper div#container div.articles-section div.contents {
    position: relative;
    display: block;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 110;
    visibility: hidden;
    opacity: 0;
    -webkit-transform: scale(0);
            transform: scale(0);
    display: none;
  }
  div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login-close {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login-close a span {
    font-size: 2rem;
  }
  div#app-wrapper div#container div.articles-section div.contents div#login-register-wrapper div.login {
    position: absolute;
    width: 95%;
    background-color: #f7f7f7;
    top: 50%;
    left: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
            transform: translateY(-50%) translateX(-50%);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid cornflowerblue;
    border-radius: 5px;
  }
  div#app-wrapper div#container div.articles-section div.contents div.article div.mobile-edit-and-delete {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    padding: 1em;
  }
  div#app-wrapper div#container div.articles-section div.contents div.article div.mobile-edit-and-delete ul li {
    list-style: none;
    position: relative;
  }
  div#app-wrapper div#container div.articles-section div.contents div.article div.mobile-edit-and-delete ul li a.ellipse-icon {
    color: rgba(0, 0, 0, 0.6);
    position: relative;
    z-index: 1;
  }
  div#app-wrapper div#container div.articles-section div.contents div.article div.mobile-edit-and-delete ul li ul.edit-and-delete-dropdown::after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -5px;
    right: 15px;
    background-color: #f7f7f7;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-left: 1px solid rgba(0, 0, 0, 0.1);
  }
  div#app-wrapper div#container div.articles-section div.contents div.article div.mobile-edit-and-delete ul li ul.edit-and-delete-dropdown {
    position: absolute;
    background-color: #f7f7f7;
    top: 20px;
    right: -10px;
    width: 100px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transition: 300ms ease-in-out;
    transition: 300ms ease-in-out;
  }
  div#app-wrapper div#container div.articles-section div.contents div.article div.mobile-edit-and-delete ul li ul.edit-and-delete-dropdown li a {
    display: block;
    line-height: 1em;
    padding: .5em;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.6);
  }
  div#app-wrapper div#container div.articles-section div.contents div.article div.mobile-edit-and-delete ul li ul.edit-and-delete-dropdown li a > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  div#app-wrapper div#container div.articles-section div.contents div.article div.mobile-edit-and-delete ul li ul.edit-and-delete-dropdown li a:hover {
    background-color: rgba(0, 0, 0, 0.01);
  }
  div#app-wrapper div#container div.articles-section div.contents div.article div.mobile-edit-and-delete ul li ul.edit-and-delete-dropdown.edit-and-delete-dropdown-toggle {
    visibility: visible;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  div#app-wrapper div#container div.articles-section div.contents div.article div.edit-and-delete {
    display: none;
  }
  div#app-wrapper div#container div.articles-section div.article-footer div.footer-contents div.comment-and-like ul li ul {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */