@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pangolin&family=Playfair+Display&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #fff;
}

nav#navbar {
  background-color: #f7f7f7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70px;
  line-height: 70px;
}

nav#navbar a.brand-logo {
  font-family: 'Sriracha', cursive;
  font-size: 34px;
  text-decoration: none;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  color: cornflowerblue;
}

nav#navbar a.brand-logo span.f {
  margin-right: 5px;
}

nav#navbar a.brand-logo span.w {
  margin-left: 5px;
}

nav#navbar ul {
  list-style: none;
  float: right;
  margin-right: 20px;
}

nav#navbar ul li {
  float: left;
}

nav#navbar ul li a {
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: none;
  padding: 1em;
  -webkit-box-decoration-break: 3px;
          box-decoration-break: 3px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  font-weight: bold;
}

nav#navbar ul li a:hover {
  color: rgba(0, 0, 0, 0.6);
  font-weight: bold;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  text-decoration: underline;
}

nav#navbar ul::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: relative;
}

nav#navbar::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: relative;
}

div.container {
  clear: both;
  width: 80%;
  margin: auto;
  padding: 1em;
}

div.container div.articles {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

div.container div.articles div.article {
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.009);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

div.container div.articles div.article div.title h2 {
  color: rgba(0, 0, 0, 0.7);
  margin: 10px 0px;
}

div.container div.articles div.article div.body div.text-content p {
  height: 350px;
  overflow: hidden;
}

div.container div.articles div.article div.body div.text-content a.read-more {
  display: inline;
}

div.container div.articles div.article:hover {
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  -webkit-transform: scale(1.005);
          transform: scale(1.005);
}

div.container div.social-profiles {
  position: fixed;
  top: 50%;
  padding: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #f7f7f7;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

div.container div.social-profiles span {
  display: block;
}

div.container div.social-profiles span a {
  font-size: 30px;
  color: #0852db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

div.container div.social-profiles span a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

div.container div.social-profiles .facebook a {
  color: #3b5998;
}

div.container div.social-profiles .youtube a {
  color: #c4302b;
}

div.container div.social-profiles .instagram a {
  color: #8a3ab9;
}

div.container div.social-profiles .twitter a {
  color: #00acee;
}

div.container div.post-article button {
  float: right;
  display: block;
  padding: 1em;
  line-height: 1em;
  font-weight: bold;
  cursor: pointer;
  border: none;
  color: rgba(255, 255, 255, 0.8);
  background-color: #0853dd;
  outline: none;
  border-radius: 4px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

div.container div.post-article button:hover {
  background-color: #0548c5;
}

div.container div.post-article:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: relative;
  clear: right;
}
/*# sourceMappingURL=main.css.map */