@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Pangolin&family=Playfair+Display&family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
// font-family: 'Pangolin', cursive;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Poppins', sans-serif;
// font-family: 'Playfair Display', serif;
*{
    padding:0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
   font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: #f7f7f7;
}

// Navbar
nav#navbar{
    background-color: #00acee;
    // border-bottom: 1px solid rgba(0,0,0,.1);
    box-sizing: border-box;
    height: 70px;
    line-height: 70px;
    a.brand-logo{
        font-family: 'Sriracha', cursive;
        font-size: 34px;
        text-decoration: none;
        float: left;    
        display: flex;
        padding: 0 10px;
        color: #fff;        
        span.f{
            margin-right: 5px;
        } 
        span.w{            
            margin-left: 5px;
        }
    }
    ul{
        list-style: none;
        float: right;  
        margin-right: 20px;      
        li{
          float: left;

            a{
                font-size: 14px;
                box-sizing: border-box;                
                color: rgba(255,255,255,.7);    
                text-decoration: none; 
                padding: 1em;        
                box-decoration-break: 3px;
                transition: 200ms ease-in-out;
                font-weight: bold;
            }
            a:hover{                
                color: rgba(255,255,255,.8);
                font-weight: bold;
                transition: 200ms ease-in-out;
                text-decoration: underline;
            }
        }      
    }
    ul::after{
        content: "";
        display: block;
        width: 0;
        height: 0;
        position: relative;
    }
}
nav#navbar::after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: relative;
}

// containers
div.container{
    clear: both;
    width: 100%;
    margin: auto;
    padding: 1em;
    box-sizing: border-box;
    div.articles{
        position: relative;
        box-sizing: border-box;
        width: 60%;
        display: grid;
        grid-template-columns: 1fr;        
        margin-left: 100px;
        margin-top: 50px;
        background-color: rgba(255,255,255,.5);
        padding: 1em;
        box-sizing: border-box;        
        div.article{        
            margin-bottom: 50px;            
            padding: 1em;           
            background-color: #fff;
            transition: 200ms ease-in-out;        
            box-sizing: border-box;
            border-radius: 5px;
            border: 1px solid rgba(0,0,0,.1);
            div.title{
                h2{
                    color: rgba(0,0,0,.7);
                    margin: 10px 0px;
                }
            }
            div.body{
               div.text-content{                   
                    p{
                        height: 350px;
                        overflow: hidden;                        
                    }
                    a.read-more{
                        display: inline;
                    }
               }
            }
        }        
    }
   
    div.social-profiles{
        position: fixed;
        top: 50%;
        padding: 1em;        
        transform: translateY(-50%);
        background-color:#fff;
        left: 0;
        box-sizing: border-box; 
        box-shadow: 0px 0px 5px rgba(0,0,0,.2);       
        span{
            display: block;                      
            a{
                font-size: 30px;
                color: rgb(8, 82, 219);              
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                transition: 200ms ease-in-out;
            }                       
        }
        span a:hover{
            transform: scale(1.1);          
        }        
        .facebook a{
            color:#3b5998;
        }
        .youtube a{
            color:#c4302b;
        }
        .instagram a{
            color:#8a3ab9;
        }
        .twitter a{
            color:#00acee;
        }
    }
    div.post-article-section{
        width: 60%;
        box-sizing: border-box;
        margin-left: 100px;       
        margin-top: 100px;
        h2{
            margin-bottom: 20px;
            color: #00acee;
        }
        div.post-article:after{
            content: "";
            display: block;
            width: 0;
            height: 0;
            position: relative;
            clear: right;
        }
        div.article-form{
            width: 100%;
            div.form{           
               box-sizing: border-box;
               margin-top: 20px;
               padding: 0;
               margin: 0;
               box-shadow: 0px 0px 1px  rgba(0,0,0,.5);
               form div.name-title{                
                    box-sizing: border-box;  
                    background-color: #eee;                          
                    input{
                        display: block;
                        width: 100%;
                        border: 1px solid rgba(0,0,0,.2);
                        outline: none;
                        padding: .5em;
                        font-size: 16px;
                        font-weight: 500;
                        box-sizing: border-box;                                            
                        background-color: rgba(255,255,255,.8);
                        transition: 200ms ease-out;
                        color: rgba(0,0,0,.7);                        
                        border-radius: 4px;
                        border: none;
                    }       
                    input:first-child{
                        border-bottom: 1px solid rgba(0,0,0,.1);
                    }
                    input:focus{
                        background-color:#fff;
                    }
    
               }            
               form div.btn{
                   box-sizing: border-box;
                   background-color: rgba(0,0,0,.05);
                   width: 100%;
                   padding: .5em;
                   border: 1px solid rgba(0,0,0,.1);
                   border-top: none;
               }
                form button.submit-article{
                    float: right;
                    display: block;
                    padding: .7em 1em;
                    font-weight: bold;
                    cursor: pointer;
                    border: none;
                    color: rgba(255,255,255,1);                
                    background-color: rgb(8, 83, 221);
                    outline: none;
                    border-radius: 4px;
                    transition: 200ms ease-in-out;                
                    width: 100px;
                }
                form textarea{
                    outline: 1px solid #00acee;
                }
                form div.btn::after{
                    content: "";
                    clear: both;
                    display: block;
                    visibility: none;
                    width: 0;
                    height: 0;
                }
            }
        }
    }
}

div.footer{
  
}