@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Pangolin&family=Playfair+Display&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mirza:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@1&family=Cairo:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #f7f7f7;
}

nav#navbar {
  background-color: #00acee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70px;
  line-height: 70px;
}

nav#navbar a.create-new-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
  margin-right: 20px;
  text-decoration: none;
  background-color: #fff;
  height: 40px;
  line-height: 30px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding: 1em;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  -webkit-transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

nav#navbar a.create-new-article span.article-icon {
  margin-right: 5px;
}

nav#navbar div.login-register {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: right;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
  height: 40px;
}

nav#navbar div.login-register a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  line-height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 10px;
  text-align: center;
  padding: .5em;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  text-decoration: none;
  -webkit-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
  background-color: orange;
  color: #fff;
  position: relative;
}

nav#navbar div.login-register a span {
  margin-right: 5px;
}

nav#navbar div.login-register a.login#hide-login {
  display: none;
}

nav#navbar a#hide-btn {
  display: none;
}

nav#navbar a.brand-logo {
  font-family: 'Sriracha', cursive;
  font-size: 34px;
  text-decoration: none;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px;
  margin-left: 10px;
  color: #fff;
}

nav#navbar a.brand-logo span.f {
  margin-right: 5px;
}

nav#navbar a.brand-logo span.w {
  margin-left: 5px;
}

nav#navbar span.hamburger-icon {
  float: right;
  cursor: pointer;
  display: none;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 5px;
  margin-right: 40px;
  width: 40px;
  height: 40px;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

nav#navbar ul {
  list-style: none;
  float: left;
  margin-right: 20px;
  display: block;
}

nav#navbar ul li {
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav#navbar ul li a {
  font-size: 14px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding: 1em;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  font-weight: bold;
  border-radius: 20px;
}

nav#navbar ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

nav#navbar ul::after {
  content: "";
  display: none;
  width: 0;
  height: 0;
  position: relative;
}

nav#navbar::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: relative;
}

nav#sidenav {
  position: fixed;
  right: -310px;
  top: 0;
  width: 300px;
  height: 100%;
  background-color: #00acee;
  z-index: 20;
  -webkit-transition: 500ms cubic-bezier(0.68, 0, 0.265, 0.1);
  transition: 500ms cubic-bezier(0.68, 0, 0.265, 0.1);
  -webkit-box-shadow: -5px 75px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -5px 75px 10px rgba(0, 0, 0, 0.2);
  display: none;
}

nav#sidenav a#close {
  position: absolute;
  width: 40px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  right: 20px;
  top: 15px;
  border-radius: 50%;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  border: 1px solid #fff;
}

nav#sidenav a#close span span {
  display: block;
  width: 30px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.2);
}

nav#sidenav a#close span span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: relative;
  top: 2px;
}

nav#sidenav a#close span span:last-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  position: relative;
}

nav#sidenav a#close:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

nav#sidenav div.sidenav-contents {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 70px;
  position: relative;
  background-color: #f7f7f7;
  height: 100%;
  padding: 30px 0px;
}

nav#sidenav div.btns {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav#sidenav div.btns a.create-new-article {
  display: block;
  width: 200px;
  text-align: center;
  background-color: royalblue;
  padding: .5em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px auto;
  color: #fff;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  text-decoration: none;
}

nav#sidenav div.btns a.create-new-article span {
  margin-right: 10px;
}

nav#sidenav div.btns div.login-register {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

nav#sidenav div.btns div.login-register a {
  display: block;
  width: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0px 10px;
  background: linear-gradient(45deg, white, rgba(0, 0, 0, 0.2));
  text-align: center;
  padding: .5em;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
  color: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

nav#sidenav div.btns div.login-register a span {
  margin-right: 5px;
}

nav#sidenav div.btns div.login-register a:hover {
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  background: linear-gradient(-45deg, white, rgba(0, 0, 0, 0.2));
  color: rgba(0, 0, 0, 0.7);
}

nav#sidenav ul {
  display: block;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em;
}

nav#sidenav ul li {
  display: block;
}

nav#sidenav ul li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #333;
  width: 100%;
  text-decoration: none;
  padding: .5em 1em;
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  display: block;
  border-radius: 20px;
}

nav#sidenav ul li a:hover {
  background-color: rgba(255, 0, 0, 0.2);
}

nav#sidenav.sidenav-toggle {
  right: 0px;
}

div.container {
  clear: both;
  width: 100%;
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.container div.articles {
  margin: 20px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-left: 100px;
  margin-top: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 1em;
}

div.container div.articles div.article {
  margin-bottom: 0px;
  padding: 1em;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
}

div.container div.articles div.article div.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

div.container div.articles div.article div.title h2 {
  color: teal;
  font-weight: 700;
  margin: 10px 0px;
  word-spacing: 2px;
  font-size: 2rem;
}

div.container div.articles div.article div.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Urdu Nastaliq Unicode";
}

div.container div.articles div.article div.body div.text-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  font-size: 1em;
}

div.container div.articles div.article div.body div.text-content div {
  height: 350px;
  overflow: hidden;
}

div.container div.articles div.article div.body div.text-content div p {
  overflow: hidden;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.7em;
  font-size: 120%;
  text-align: right;
}

div.container div.articles div.article div.body div.text-content div p span.quran-ayat {
  color: orange;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .2em;
  font-weight: bold;
}

div.container div.articles div.article div.body div.text-content div p span.translation {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
  font-weight: bold;
}

div.container div.articles div.article div.body div.text-content a.read-more {
  display: block;
  float: right;
  width: 100px;
  text-align: center;
  color: #fff;
  padding: .5em 1em;
  text-decoration: none;
  margin: 20px auto 5px 0;
  background-color: royalblue;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  font-weight: bold;
}

div.container div.articles div.article div.body div.text-content a.read-more:hover {
  background-color: rgba(65, 105, 225, 0.9);
}

div.container div.articles div.article:last-child {
  border-bottom: none;
}

div.container div.social-profiles {
  position: fixed;
  top: 50%;
  padding: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

div.container div.social-profiles span {
  display: block;
}

div.container div.social-profiles span a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 30px;
  color: #0852db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

div.container div.social-profiles span span.tooltip {
  position: absolute;
  display: block;
  background-color: #333;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .2em .5em;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  margin-top: -40px;
  margin-left: 60px;
}

div.container div.social-profiles span a:hover span.tooltip {
  visibility: visible;
  opacity: 1;
}

div.container div.social-profiles span a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

div.container div.social-profiles .facebook a {
  color: #3b5998;
}

div.container div.social-profiles .youtube a {
  color: #c4302b;
}

div.container div.social-profiles .instagram a {
  color: #8a3ab9;
}

div.container div.social-profiles .twitter a {
  color: #00acee;
}

div.container div.create-article-section {
  width: 60%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 2em;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

div.container div.create-article-section h2 {
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 2rem;
  margin-top: 10px;
}

div.container div.create-article-section div.create-article:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: relative;
  clear: right;
}

div.container div.create-article-section div.article-form {
  width: 100%;
}

div.container div.create-article-section div.article-form div.form {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
  padding: 0;
  margin: 0;
}

div.container div.create-article-section div.article-form div.form form div.name-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

div.container div.create-article-section div.article-form div.form form div.name-title div {
  border: none;
}

div.container div.create-article-section div.article-form div.form form div.name-title div input {
  display: block;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
  outline: none;
  padding: .5em;
  font-size: 16px;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: white;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
  color: rgba(0, 0, 0, 0.7);
  font-family: sans-serif;
  margin-bottom: 10px;
}

div.container div.create-article-section div.article-form div.form form div.name-title div input:focus {
  background-color: #fff;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #1964f0;
}

div.container div.create-article-section div.article-form div.form form div.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border-top: none;
}

div.container div.create-article-section div.article-form div.form form button.submit-article {
  float: right;
  display: block;
  padding: .5em 1em;
  cursor: pointer;
  border: none;
  color: white;
  background-color: royalblue;
  outline: none;
  border-radius: 2px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  width: 100px;
  margin: 20px 0px;
  font-weight: 500;
  font-family: sans-serif;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  font-size: 15px;
  font-weight: 600;
}

div.container div.create-article-section div.article-form div.form form textarea {
  outline: 1px solid #00acee;
}

div.container div.create-article-section div.article-form div.form form div.btn::after {
  content: "";
  clear: both;
  display: block;
  visibility: none;
  width: 0;
  height: 0;
}

div.container div.create-article-section div.article-form div.form .ck-rounded-corners .ck.ck-editor__main > .ck-editor__editable, div.container div.create-article-section div.article-form div.form .ck.ck-editor__main > .ck-editor__editable.ck-rounded-corners {
  height: 300px;
}

div.container div.full-article {
  padding: 1em;
  margin-top: 20px;
  margin-bottom: 20px;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  width: 60%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  margin-left: 100px;
  background-color: rgba(255, 255, 255, 0.5);
}

div.container div.full-article div.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: right;
}

div.container div.full-article div.title h2 {
  color: teal;
  font-weight: 700;
  margin: 10px 0px;
  word-spacing: 2px;
  font-size: 2rem;
}

div.container div.full-article div.body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Urdu Nastaliq Unicode";
}

div.container div.full-article div.body div.text-content {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  font-size: 1em;
}

div.container div.full-article div.body div.text-content p {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 1.7em;
  font-size: 120%;
  text-align: right;
}

div.container div.full-article div.body div.text-content p span.quran-ayat {
  color: orange;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: .2em;
  font-weight: bold;
}

div.container div.full-article div.body div.text-content p span.translation {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: underline;
  font-weight: bold;
}

div.container div.full-article div.body div.text-content a.read-more {
  display: block;
  float: right;
  width: 100px;
  text-align: center;
  color: #fff;
  padding: .5em 1em;
  text-decoration: none;
  margin: 20px auto 5px 0;
  background-color: royalblue;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

div.container div.full-article div.body div.text-content a.read-more:hover {
  background-color: rgba(65, 105, 225, 0.9);
}

div.container div.login {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  margin: 50px auto;
  min-height: 75vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

div.container div.login div.login-heading {
  padding: .5em;
  width: 100%;
  background-color: #00acee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: 'Heebo', sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div.container div.login form {
  width: 75%;
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: #fff;
  margin-top: 30px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

div.container div.login form div.form-contents div.email, div.container div.login form div.form-contents div.password {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 0px;
}

div.container div.login form div.form-contents div.email input, div.container div.login form div.form-contents div.password input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px 0px 10px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

div.container div.login form div.form-contents div.email input::-webkit-input-placeholder, div.container div.login form div.form-contents div.password input::-webkit-input-placeholder {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  position: relative;
  top: 0;
  font-weight: bold;
}

div.container div.login form div.form-contents div.email input:-ms-input-placeholder, div.container div.login form div.form-contents div.password input:-ms-input-placeholder {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  position: relative;
  top: 0;
  font-weight: bold;
}

div.container div.login form div.form-contents div.email input::-ms-input-placeholder, div.container div.login form div.form-contents div.password input::-ms-input-placeholder {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  position: relative;
  top: 0;
  font-weight: bold;
}

div.container div.login form div.form-contents div.email input::placeholder, div.container div.login form div.form-contents div.password input::placeholder {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  position: relative;
  top: 0;
  font-weight: bold;
}

div.container div.login form div.form-contents div.email input:focus::-webkit-input-placeholder, div.container div.login form div.form-contents div.password input:focus::-webkit-input-placeholder {
  top: -20px;
  color: rgba(6, 110, 6, 0.5);
}

div.container div.login form div.form-contents div.email input:focus:-ms-input-placeholder, div.container div.login form div.form-contents div.password input:focus:-ms-input-placeholder {
  top: -20px;
  color: rgba(6, 110, 6, 0.5);
}

div.container div.login form div.form-contents div.email input:focus::-ms-input-placeholder, div.container div.login form div.form-contents div.password input:focus::-ms-input-placeholder {
  top: -20px;
  color: rgba(6, 110, 6, 0.5);
}

div.container div.login form div.form-contents div.email input:focus::placeholder, div.container div.login form div.form-contents div.password input:focus::placeholder {
  top: -20px;
  color: rgba(6, 110, 6, 0.5);
}

div.container div.login form div.form-contents div.email span.user-icon, div.container div.login form div.form-contents div.email span.password-icon, div.container div.login form div.form-contents div.password span.user-icon, div.container div.login form div.form-contents div.password span.password-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  padding: 1em .5em .2em 0em;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.6);
}

div.container div.login form div.form-contents div.login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.container div.login form div.form-contents div.login-btn button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: block;
  padding: .4em 1em;
  cursor: pointer;
  border: none;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  background-color: royalblue;
  color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

div.container div.login form div.form-contents span.new-to-website {
  text-align: center;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
}

div.container div.login form div.form-contents span.new-to-website a {
  margin-left: 5px;
  text-decoration: none;
}

div.container div.register {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  margin: 50px auto;
  min-height: 75vh;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 40px;
  box-sizing: border-box;
}

div.container div.register div.register-heading {
  padding: .5em;
  width: 100%;
  background-color: #00acee;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: white;
  font-family: 'Heebo', sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

div.container div.register form {
  width: 75%;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
  background-color: #fff;
  margin-top: 30px;
  -webkit-box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

div.container div.register form div.form-contents div.username, div.container div.register form div.form-contents div.email, div.container div.register form div.form-contents div.password {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 20px 0px;
}

div.container div.register form div.form-contents div.username input, div.container div.register form div.form-contents div.email input, div.container div.register form div.form-contents div.password input {
  display: block;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px 0px 10px;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: 500;
}

div.container div.register form div.form-contents div.username input::-webkit-input-placeholder, div.container div.register form div.form-contents div.email input::-webkit-input-placeholder, div.container div.register form div.form-contents div.password input::-webkit-input-placeholder {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  position: relative;
  top: 0;
  font-weight: bold;
}

div.container div.register form div.form-contents div.username input:-ms-input-placeholder, div.container div.register form div.form-contents div.email input:-ms-input-placeholder, div.container div.register form div.form-contents div.password input:-ms-input-placeholder {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  position: relative;
  top: 0;
  font-weight: bold;
}

div.container div.register form div.form-contents div.username input::-ms-input-placeholder, div.container div.register form div.form-contents div.email input::-ms-input-placeholder, div.container div.register form div.form-contents div.password input::-ms-input-placeholder {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  position: relative;
  top: 0;
  font-weight: bold;
}

div.container div.register form div.form-contents div.username input::placeholder, div.container div.register form div.form-contents div.email input::placeholder, div.container div.register form div.form-contents div.password input::placeholder {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  position: relative;
  top: 0;
  font-weight: bold;
}

div.container div.register form div.form-contents div.username input:focus::-webkit-input-placeholder, div.container div.register form div.form-contents div.email input:focus::-webkit-input-placeholder, div.container div.register form div.form-contents div.password input:focus::-webkit-input-placeholder {
  top: -20px;
  color: rgba(6, 110, 6, 0.5);
}

div.container div.register form div.form-contents div.username input:focus:-ms-input-placeholder, div.container div.register form div.form-contents div.email input:focus:-ms-input-placeholder, div.container div.register form div.form-contents div.password input:focus:-ms-input-placeholder {
  top: -20px;
  color: rgba(6, 110, 6, 0.5);
}

div.container div.register form div.form-contents div.username input:focus::-ms-input-placeholder, div.container div.register form div.form-contents div.email input:focus::-ms-input-placeholder, div.container div.register form div.form-contents div.password input:focus::-ms-input-placeholder {
  top: -20px;
  color: rgba(6, 110, 6, 0.5);
}

div.container div.register form div.form-contents div.username input:focus::placeholder, div.container div.register form div.form-contents div.email input:focus::placeholder, div.container div.register form div.form-contents div.password input:focus::placeholder {
  top: -20px;
  color: rgba(6, 110, 6, 0.5);
}

div.container div.register form div.form-contents div.username span.username-icon, div.container div.register form div.form-contents div.username span.user-icon, div.container div.register form div.form-contents div.username span.password-icon, div.container div.register form div.form-contents div.email span.username-icon, div.container div.register form div.form-contents div.email span.user-icon, div.container div.register form div.form-contents div.email span.password-icon, div.container div.register form div.form-contents div.password span.username-icon, div.container div.register form div.form-contents div.password span.user-icon, div.container div.register form div.form-contents div.password span.password-icon {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  box-sizing: border-box;
  padding: 1em .5em .2em 0em;
  font-size: 22px;
  color: rgba(0, 0, 0, 0.6);
}

div.container div.register form div.form-contents div.register-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.container div.register form div.form-contents div.register-btn button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  display: block;
  padding: .4em 1em;
  cursor: pointer;
  border: none;
  font-family: 'Heebo', sans-serif;
  font-size: 16px;
  background-color: royalblue;
  color: #fff;
  border-radius: 3px;
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

div.container div.register form div.form-contents span.already-registered {
  text-align: center;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: 20px;
}

div.container div.register form div.form-contents span.already-registered a {
  margin-left: 5px;
  text-decoration: none;
}

@media (max-width: 920px) {
  div.container div.login {
    width: 95%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  div.container div.login div.login-heading {
    padding: .5em;
    width: 100%;
  }
  div.container div.login form {
    width: 90%;
  }
  div.container div.login form div.form-contents div.email, div.container div.login form div.form-contents div.password {
    width: 100%;
  }
  div.container div.register {
    width: 95%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  div.container div.register div.register-heading {
    width: 100%;
  }
  div.container div.register form {
    width: 90%;
  }
  div.container div.register form div.form-contents div.username, div.container div.register form div.form-contents div.email, div.container div.register form div.form-contents div.password {
    width: 100%;
  }
}

@media (max-width: 720px) {
  nav#navbar a.create-new-article {
    display: none;
  }
  nav#navbar ul {
    display: none;
  }
  nav#navbar a.brand-logo {
    margin-left: 0px;
    font-size: 170%;
  }
  nav#navbar span.hamburger-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 10px;
  }
  nav#navbar div.login-register {
    display: none;
  }
  nav#sidenav {
    display: block;
  }
  div.container div.articles {
    margin: 0px 0px;
    position: relative;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-left: 0px;
    margin-top: 0px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: .5em;
    box-sizing: border-box;
  }
  div.container div.articles div.articles {
    margin: 20px 0px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin-left: 100px;
    margin-top: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em;
  }
  div.container div.articles div.articles div.article div.title h2 {
    font-size: 1.5rem;
  }
  div.container div.articles div.articles div.article div.body a.read-more {
    margin: 20px auto 5px auto;
  }
  div.container div.create-article-section {
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-left: 0px;
    padding: .5em;
    border-radius: 5px;
  }
  div.container div.create-article-section h2 {
    font-size: 1.5rem;
    text-align: center;
  }
  div.container div.social-profiles {
    display: none;
  }
  div.container div.full-article {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  div.container div.full-article div.title h2 {
    font-size: 1.5rem;
    color: teal;
  }
  div.container div.full-article div.body a.read-more {
    margin: 20px auto 5px auto;
  }
}

div.footer {
  padding: 2em;
  background-color: #e9e6e6;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  padding-bottom: .5em;
}

div.footer div.footer-contents {
  text-align: center;
}

div.footer div.footer-contents ul {
  list-style: none;
}

div.footer div.footer-contents ul li {
  display: inline;
}

div.footer div.footer-contents ul li a {
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
}

div.footer div.footer-contents div.social-profiles {
  margin-bottom: 20px;
}

div.footer div.footer-contents div.social-profiles span {
  margin: 0px 10px;
}

div.footer div.footer-contents div.social-profiles span a {
  font-size: 20px;
  border-radius: 50%;
}

div.footer div.footer-contents div.social-profiles span a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

div.footer div.footer-contents div.social-profiles .facebook a {
  color: #3b5998;
}

div.footer div.footer-contents div.social-profiles .youtube a {
  color: #c4302b;
}

div.footer div.footer-contents div.social-profiles .instagram a {
  color: #8a3ab9;
}

div.footer div.footer-contents div.social-profiles .twitter a {
  color: #00acee;
}
/*# sourceMappingURL=main.css.map */